version: '2'
services:
  director:
    build:
      context: .
      dockerfile: ./director/Dockerfile
    volumes:
      - ./director:/work
      - /var/run/docker.sock:/var/run/docker.sock
      - /usr/bin/docker:/usr/bin/docker
    ports:
      - "8010:8010"
  sidecar:
    build:
      context: .
      dockerfile: ./sidecar/Dockerfile
    volumes:
      - input:/input
      - output:/output
      - log:/log
      - ./sidecar:/work
      - /var/run/docker.sock:/var/run/docker.sock
      - /usr/bin/docker:/usr/bin/docker
    ports:
      - "8000:8000"
    dns:
      - 172.16.8.15
  database:
    image: mongo:3.4.0
    environment:
      - MONGO_DATA_DIR=/data/db
      - MONGO_LOG_DIR=/dev/null
    volumes:
      - db:/data/db
    ports:
      - "28017:28017"
    command: mongod --httpinterface --rest --smallfiles --logpath=/dev/null # --quiet
  database_ui:
    image: mongo-express
#    links: 
#      - database:mongo
    ports:
      - "8081:8081"
    environment:
      - ME_CONFIG_MONGODB_SERVER=database
    depends_on:
      - database
volumes:
  input:
  output:
  log:
  db:

