# Order is important. The last matching pattern has the most precedence.

# language based assignment: No need since we have linters

# files and folders recursively
/templates/    @pcrespov @odeimaiz @mguidon @sanderegg 
/demos/        @pcrespov @odeimaiz @mguidon @sanderegg 

# any change in travis
/.travis.yml   @odeimaiz
