@import "./WorkbenchView2";

.storm-diagrams-canvas{
	height: 33%;
	width: 40%;
	background-color: rgb(60,60,60);
	$color: rgba(white, .05);
	background-image:
		linear-gradient(0deg,
			transparent 24%,
			$color 25%,
			$color 26%,
			transparent 27%,
			transparent 74%,
			$color 75%,
			$color 76%,
			transparent 77%,
			transparent),
		linear-gradient(90deg,
			transparent 24%,
			$color 25%,
			$color 26%,
			transparent 27%,
			transparent 74%,
			$color 75%,
			$color 76%,
			transparent 77%,
			transparent);
	background-size:10px 10px;

	path{
		stroke: rgba(white,0.5);
	}

	.pointui{
		fill: rgba(white,0.5);
	}
}
